<div class="return-results-container col-md-10 col-md-offset-1">
	<div class="logo-image col-md-6 col-md-offset-3">
	  	<%= image_tag "/assets/logo.jpg", class: "logo" %>
	</div>

	<%= render 'summary' %>

	<div class="results row">
	  	<div class="return-details-container col-md-12">
	  		<h2 class="return-details-title">The Details</h2>
	  		<%= render 'incivilities_cost' %>
			<%= render 'engagement_leadership_costs' %>			
			<%= render 'cs_investment' %>
			<%= render 'buttons' %>	
	  	</div>
	</div>	
</div>





